aclocal.m4
autom4te.cache/
autoscan.log
compile
compile_commands.json
config.guess
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-*
test-driver
*~
*.sw*
build
*.tar.gz
*.zip
autoscan.log
configure.scan
*.o
*.lo
*.la
Makefile.in
.deps
.libs
Makefile
*.log
*.rst
.dirstamp
*_test
tags
